:root {
    --color-primary: #b8944d;
    --color-dark: #414148;
    --color-secondary: #6b6b74;
    --color-muted: #848484;
    --color-light: #bababa;
    --color-danger: #f36d78;
    --color-warning: #ff8338;
    --color-body: #e9e9e9;
    --btn-primary: #b8944d;
    --btn-outline-primary: #102017;
    --btn-dark: #000;
    --btn-secondary: #1a1a1a;
    --btn-light: #454546;
    --btn-danger: #f36d78;
    --btn-outline-danger: #ffecec;
    --btn-success: #41d589;
    --bg-primary: #b8944d;
    --bg-outline-primary: #0d1835;
    --bg-dark: #000;
    --bg-secondary: #1a1a1a;
    --bg-muted: #282828;
    --bg-light: #454546;
    --bg-danger: #ff625e;
    --bg-warning: #ffe9d5;
    --bg-white: #fff;
    --bg-body: #0a0a0a;
    --border-primary: #b8944d;
    --border-outline-primary: #204c32;
    --border-dark: #000;
    --border-secondary: #1a1a1a;
    --border-muted: #282828;
    --border-light: #454546;
    --border-danger: #f36d78;
    --border-outline-danger: #fdecee;
    --border-white: #fff;
    --radius-xs: 3px;
    --radius-sm: 6px;
    --radius-md: 8px;
    --radius-lg: 16px;
    --shadow-xs: 0 10px 40px 5px
    rgb(62 61 80 / 2%);
    --shadow-sm: 0 5px 20px 5px
    rgb(62 61 80 / 3%);
    --shadow-md: 0 10px 40px 5px
    rgb(62 61 80 / 8%);
    --shadow-lg: 0 10px 40px 5px
    rgb(62 61 80 / 10%);
    --swiper-pagination-color: #fff;
    --swiper-pagination-bullet-inactive-color:
    rgba(255, 255, 255, 0.8);
    --swiper-navigation-mini-size: 30px;
    --swiper-navigation-size: 50px;
}


/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */


/* -------------------------------------------------------------------------- */


/*	0. CSS Reset
/* -------------------------------------------------------------------------- */

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    border: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
address,
big,
cite,
code,
em,
font,
img,
small,
strike,
sub,
sup,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tr,
th,
td {
border: none;
font-size:17px;
line-height:30px;
text-align:inherit;
margin:0;
padding:0;
}

/* General ------------------------------------- */

body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Hiragino Sans GB, Microsoft YaHei UI, Microsoft YaHei, Source Han Sans CN, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-size: 17px;
    color: var(--color-body);
    background-color: var(--bg-body);
    padding: 0;
    margin: 0;
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased
}


/* Links ------------------------------------- */

a {
    color: var(--color-body);
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    color: var(--color-primary)
}

a:focus {
    outline: 0;
}

a:not([href]):not([class]),
a:not([href]):not([class]):hover {
    color: inherit;
    text-decoration: none
}

h1>a,
h2>a,
h3>a,
h4>a,
h5>a,
h6>a,
.h1>a,
.h2>a,
.h3>a,
.h4>a,
.h5>a,
.h6>a {
    color: #fff;
}

h1>a:hover,
h2>a:hover,
h3>a:hover,
h4>a:hover,
h5>a:hover,
h6>a:hover,
.h1>a:hover,
.h2>a:hover,
.h3>a:hover,
.h4>a:hover,
.h5>a:hover,
.h6>a:hover {
    color: var(--color-primary);
}


/* code -------------------------- */

code {
    font-size: 80%;
    color: inherit;
    padding: 4px 10px;
    word-break: break-word;
}

pre {
    padding: 24px;
    margin-bottom: 24px;
    display: block;
    overflow: auto;
    word-wrap: normal;
    overflow-wrap: normal;
}

code,
pre {
    background: var(--bg-light);
}


/* Table -------------------------- */

table {
    max-width: 100%;
    background-color: transparent;
}

th,
td {
    background: transparent;
    padding: 6px 12px;
    border: .0625rem solid var(--border-light);
    text-align: initial;
}

th {
    background: rgba(var(--bg-light), 0.05);
}

table caption {
    padding: 0 0 8px 0;
    width: auto;
}


/* Media ------------------------------------- */

iframe {
    border: none;
}

video,
iframe {
    max-width: 100%;
}

img,
embed,
object {
    max-width: 100%;
}

img {
    height: auto;
}

video {
    background-size: cover;
    display: table-cell;
    vertical-align: middle;
}


/* Form ------------------------------------- */

form {
    margin: 0;
    padding: 0;
    outline: none;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

textarea {
    overflow: auto;
    -webkit-appearance: none;
    -moz-appearance: none;
}

[type="url"],
[type="email"],
[type="tel"] {
    direction: ltr;
}

[type="text"],
[type="password"],
[type="email"],
[type="url"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0;
}

[type="date"],
[type="month"],
[type="time"],
[type="datetime"],
[type="datetime-local"],
[type="week"],
[type="number"],
[type="search"],
[type="tel"],
[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
}

[type="number"] {
    -moz-appearance: textfield;
}

[type="number"]::-webkit-outer-spin-button,
[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

[type="checkbox"],
[type="radio"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

template {
    display: none;
}

[hidden] {
    display: none;
}


/* Lists ------------------------------------- */

menu,
ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

dt,
dd {
    line-height: 1.5;
}

dt {
    font-weight: 500;
}

dt+dd {
    margin-top: .5rem;
}

dd+dt {
    margin-top: 1.5rem;
}


/* h1 - h6 ------------------------------------- */

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #fffffff2;
    font-weight: bold;
    margin: 0;
}

h1,
.h1 {
    font-size: 2.25rem;
    line-height: 1.4;
}

h2,
.h2 {
    font-size: 1.875rem;
}

h3,
.h3 {
    font-size: 1.5rem;
}

h4,
.h4 {
    font-size: 1.375rem;
    line-height: 1.4;
}

h5,
.h5 {
    font-size: 1.25rem;
    line-height: 1.4;
}

h6,
.h6 {
    font-size: 1.125rem;
    line-height: 1.4;
}

@media (max-width:767.98px) {
    h1,
    .h1 {
        font-size: 1.875rem
    }
    h2,
    .h2 {
        font-size: 1.75rem;
    }
    h3,
    .h3 {
        font-size: 1.375rem;
    }
    h4,
    .h4 {
        font-size: 1.25rem;
        line-height: 1.5
    }
    h5,
    .h5 {
        font-size: 1.125rem
    }
}

.h4 .small,
.h4 small,
.h5 .small,
.h5 small,
.h6 .small,
.h6 small,
h4 .small,
h4 small,
h5 .small,
h5 small,
h6 .small,
h6 small {
    font-size: 85%
}

/* Inputs ------------------------------------ */

input,
textarea {
    border-color: var(--border-light);
    color: var(--text-dark);
}

code,
input[type="url"],
input[type="email"],
input[type="tel"] {
    /*rtl:ignore*/
    direction: ltr;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0;
}

input[type="date"],
input[type="month"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="color"],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

textarea {
    line-height: 1.5;
    width: 100%;
}

input::-webkit-input-placeholder {
    line-height: normal;
}

input:-ms-input-placeholder {
    line-height: normal;
}

input::-moz-placeholder {
    line-height: revert;
    /* Reset to the value from the user-agent stylesheet. */
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

button,
button:focus,
button:hover,
.button:focus,
.button:hover {
    -webkit-appearance: none;
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
    transition: all 0.15s linear;
}

button:focus,
button:hover,
.button:focus,
.button:hover,
input[type="button"]:focus,
input[type="button"]:hover,
input[type="reset"]:focus,
input[type="reset"]:hover,
input[type="submit"]:focus,
input[type="submit"]:hover {
    text-decoration: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
    outline: 0;
}

select {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}

textarea {
    height: auto;
    resize: none;
}


/* Lists ------------------------------------- */

menu,
ul,
ol {
    list-style: none;
    margin: 0px 16px 0px 0px;
    padding: 0;
}

dt,
dd {
    line-height: 1.5;
}

dt {
    font-weight: 500;
}

dt+dd {
    margin-top: .5rem;
}

dd+dt {
    margin-top: 1.5rem;
}


/* Quotes ------------------------------------ */

blockquote {
    padding: 16px 20px;
    margin: 24px 0;
    background-color: var(--bg-light);
    border-radius: var(--radius-sm);
}

blockquote::before,
blockquote::after {
    content: "";
}

cite {
    color: inherit;
    font-size: 85%;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25;
}

blockquote cite {
    display: block;
    margin: 32px 0 0 0;
}

blockquote p,
blockquote>p:last-child {
    margin-bottom: 32px;
}

blockquote p:last-child {
    margin: 0;
}

blockquote em,
blockquote i,
blockquote cite {
    font-style: normal;
}


/* Media ------------------------------------- */

figure {
    margin: 0;
}

img,
embed,
iframe,
object,
video {
    max-width: 100%;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
/*--------------------------------------------------------------
/*	5. Size style
--------------------------------------------------------------*/

.w-8 {
    width: 8px !important;
    height: 8px !important
}

.w-12 {
    width: 12px !important;
    height: 12px !important
}

.w-16 {
    width: 16px !important;
    height: 16px !important
}

.w-20 {
    width: 20px !important;
    height: 20px !important;
    font-size: 0.6em
}

.w-24 {
    width: 24px !important;
    height: 24px !important;
    font-size: 0.7em
}

.w-28 {
    width: 28px !important;
    height: 28px !important;
    font-size: 0.8em
}

.w-32 {
    width: 32px !important;
    height: 32px !important;
    font-size: 0.85em
}

.w-36 {
    width: 36px !important;
    height: 36px !important;
    font-size: 0.875em
}

.w-40 {
    width: 40px !important;
    height: 40px !important
}

.w-48 {
    width: 48px !important;
    height: 48px !important
}

.w-56 {
    width: 56px !important;
    height: 56px !important
}

.w-64 {
    width: 64px !important;
    height: 64px !important
}

.w-72 {
    width: 72px !important;
    height: 72px !important
}

.w-80 {
    width: 80px;
    height: 80px
}

.w-96 {
    width: 96px;
    height: 96px
}

.w-128 {
    width: 128px;
    height: 128px;
}

.w-168 {
    width: 168px;
    height: 168px;
}

.w-192 {
    width: 192px
}

.w-xs {
    width: 90px
}

.w-auto {
    width: auto
}

.h-auto {
    height: auto
}

.hv {
    height: 100vh
}

.h-v {
    min-height: 100vh
}

.h-v-30 {
    min-height: 30vh
}

.h-v-33 {
    min-height: 33vh
}

.h-v-50 {
    min-height: 50vh
}

.h-v-66 {
    min-height: 66vh
}

.h-v-75 {
    min-height: 75vh
}

@media (max-width:1199.9808px) {
    .w-auto-lg {
        width: auto !important
    }
    .w-100-lg {
        width: 100% !important
    }
}

@media (max-width:991.9808px) {
    .w-auto-md {
        width: auto !important
    }
    .w-100-md {
        width: 100% !important
    }
}

@media (max-width:767.9808px) {
    .w-auto-sm {
        width: auto !important
    }
    .w-100-sm {
        width: 100% !important
    }
}

@media (max-width:575.9808px) {
    .w-auto-xs {
        width: auto !important
    }
    .w-100-xs {
        width: 100% !important
    }
}

@media (min-width: 768px) {
    .h-v-25 {
        min-height: 25vh
    }
}


/*--------------------------------------------------------------
/*	7. Display Font Size style
--------------------------------------------------------------*/

.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6 {
    color: #fff;
    font-weight: 600;
}

.display-1 {
    font-size: calc(1.625rem + 4.5vw);
}

.display-2 {
    font-size: calc(1.575rem + 3.9vw);
}

@media (min-width: 1200px) {
    .display-2 {
        font-size: 3.75rem;
    }
}

.display-3 {
    font-size: calc(1.525rem + 3.3vw);
}

@media (max-width: 767.98px) {
    .display-3 {
        font-size: 1.75rem;
    }
}

@media (min-width: 1200px) {
    .display-3 {
        font-size: 2.5rem;
    }
}

.display-4 {
    font-size: calc(1.475rem + 2.7vw);
}

@media (min-width: 1200px) {
    .display-4 {
        font-size: 2.375rem;
    }
}

.display-5 {
    font-size: calc(1.425rem + 2.1vw);
}

@media (min-width: 1200px) {
    .display-5 {
        font-size: 2.25rem;
    }
}

.display-6 {
    font-size: calc(1.375rem + 1.5vw);
}

@media (min-width: 1200px) {
    .display-6 {
        font-size: 2rem;
    }
}


/*--------------------------------------------------------------
/*	7. title Font Size style
--------------------------------------------------------------*/

.text-xx {
    font-size: .75rem !important
}

.text-xs {
    font-size: .8125rem !important
}

.text-sm {
    font-size: .875rem !important
}

.text-md {
    font-size: 1rem !important
}

.text-lg {
    font-size: 1.125rem !important
}

.text-xl {
    font-size: 2rem !important
}

.text-xxl {
    font-size: 2.5rem !important
}

.text-40 {
    font-size: 2.5rem !important
}

.text-50 {
    font-size: 3.125rem !important
}

.text-64 {
    font-size: 4rem !important
}

@media (max-width:767.9808px) {
    .text-xl {
        font-size: 1.5rem !important
    }
    .text-lg {
        font-size: 1.125rem !important
    }
    .text-md {
        font-size: 1rem !important
    }
    .text-sm {
        font-size: .8125rem !important
    }
    .text-xs {
        font-size: .6875rem !important
    }
    .text-xx {
        font-size: .625rem !important
    }
}

@media (min-width:768px) and (max-width:991.9808px) {
    .text-xl {
        font-size: 1.5rem !important
    }
    .text-lg {
        font-size: 1.0625rem !important
    }
    .text-md {
        font-size: 1rem !important
    }
    .text-sm {
        font-size: .8125rem !important
    }
    .text-xx {
        font-size: .6875rem !important
    }
}


/* Icon style ----------------------------- */

.bx,
.iconfont {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.icon-mt-md .bx,
.icon-mt-md .iconfont {
    top: -.125em
}

.icon-mt-sm .bx,
.icon-mt-sm .iconfont {
    top: -.0625rem
}