.superpwa-button{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  text-align: center;
}
.superpwa-sticky-banner{
    background: #bac747;
    position: fixed;
    text-align: center;
    font-family: sans-serif;
    width: 100%;
    height: auto;
    display: none;
    z-index: 2147483647;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;  
}
.superpwa-sticky-banner .superpwa-stky-blk{
    background: #ff416c;
    width: 80%;
    margin: 0 auto;
    margin-left: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    justify-content: space-between;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    padding: 10px 20px;
}
.superpwa-stky-blk span.superpwa-txt{
    color: #fff;
    letter-spacing: 1px;
    font-size: 15px;
}
a.superpwa_add_home_close{
    position: absolute;
    right: 4%;
    background: #f1f1f1;
    border: 0;
    border-radius: 100px;
    text-decoration: none;
    width: 30px;
    height: 30px;
    color: #000000;
    cursor: pointer;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.3;
}
span.superpwa-butn{
  text-decoration: none;
  padding: 8px 20px;
  border-radius: 30px;
  font-weight: 700;
  line-height: 1;
  cursor: pointer;
}
.superpwa-stky-blk h2{
  font-weight: 400;
  margin: 0 0 0 10px;
}
.superpwa-cta-btn{
  width:100%;
}
.superpwa-stky-blk a.superpwa-cta-btn{
  width:auto;
}
.superpwa-stky-blk h2:before{
  display: none;
}
/*
*For mobile view
 */
@media only screen and (max-width: 600px) {
 
}


/**
 * iOS banner pop up styles
 */
#superpwa-iossafari-a2h-banner{
  left: 0px;
  right:0px;
  width: 90%;
  transition-property: transform;
  transition-duration: 0.2s;
  transform: translate3d(0px, 0px, 0px);
  position: fixed;
  bottom: 14px;
  opacity: 1;
  background: #F2F2F2;
  padding: 15px;
  border:1px solid #ccc;
  display:none;
  box-sizing: border-box;
  margin:0 auto;
  z-index: 2147483647;
  font-family: sans-serif;
  box-shadow: 0px 0px 6px 1px #ccc;
}
.iossafari-buzz {
  animation: shake 0.10s;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
#superpwa-iossafari-a2h-banner p{
  font-size: 17px;
  line-height:1.4;
  margin:0px 0px 0px -90px;
  color:#111;
}
#superpwa-iossafari-a2h-banner img.superpwa-logo-icon{
    width: 80px;
    float: left;
    margin-right: 20px;
}
#superpwa-iossafari-a2h-banner img.superpwa-a2h-icon{
 width: 20px;display: inline;
}
#superpwa-iossafari-a2h-banner .superpwa-ov-txt .ath{
  font-size: 16px;
  font-weight: 700;
  color:#000;
}
#superpwa-iossafari-a2h-banner .arrow:after, #superpwa-iossafari-a2h-banner .arrow:before {
    bottom: -23px;
    z-index: 10;
    opacity: 1;
    left: 50%;
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
}
#superpwa-iossafari-a2h-banner .arrow:before {
    border-color: rgba(221, 221, 221, 0);
    border-bottom-color: #f2f2f2;
    border-width: 11px;
    margin-left: -11px;
    bottom:-20px;
    transform: rotate(180deg);
}
#superpwa-iossafari-a2h-banner .arrow:after {
    z-index: -999;
    border-bottom-color: #ccc;
    border-width: 11px;
    margin-left: -11px;
    transform: rotate(180deg);
}
#superpwa-iossafari-a2h-banner .superpwa_ios_message_close{
    right: 6px;
    top: 6px;
    width: 22px;
    height: 22px;
    font-size: 18px;
    position: absolute;
    background: transparent;
    border-radius: 100px;
    color: #666;
    cursor: pointer;
    font-weight: 400;
    border: 1px solid #666;
    text-align: center;
    line-height: 18px;
}